*.js
*.js.map
*.log
*.d.ts
!index.d.ts
demo/lib
demo/app/*.js
demo/*.d.ts
demo/platforms
demo/node_modules
demo/.vscode
demo-angular/lib
demo-angular/app/*.js
demo-angular/*.d.ts
demo-angular/platforms
demo-angular/node_modules
demo-angular/.vscode
node_modules
.vscode/
*.DS_Store
package-lock.json